name: First workflow
on:
  push:
    branches:
      - main
jobs:
  example-job:
    runs-on: ubuntu-latest
    steps:
    - name: print a message
      run: echo "welcome to workflow"   
      
    - name: Checkout
      uses: actions/checkout@v6.0.0

    - name: List repository files
      run: ls -la
  
  
    

 
